*{margin:0; padding:0; }
body{
  font-size:0.78rem;
  font-family: "돋움";
  color: #373737;
}
li,ol,ul{list-style: none;}
em,i{font-style: normal;}
div{outline: 1px solid powderblue}
a{text-decoration: none;color:#373737;}
.gnb{
  width:100%;height: 30px;
  background-color: #ccc;
  border: 1px solid #ccc;
}
.gnb .gnb_a{
  width: 1000px;
  margin: 0 auto;
}
.gnb .gnb_a .gnb_bookmark{
  display: inline-block;
  width:120px;
  font-size:0.8rem;
}
.gnb .gnb_a .ranking{
  display: inline-block;
}
.gnb .gnb_a .ranking ul li{
  display: none;
  vertical-align: middle;
}
.gnb .gnb_a .ranking ul li:first-child{
  display: block;
}
.gnb .gnb_a .ranking ul li div{
}
.gnb .gnb_a .ranking ul li img{
    vertical-align: middle;
}
.gnb .gnb_a .ranking ul li a{
  font-size: 0.8rem;
  display:inline-block;
}
.gnb .gnb_a .ranking ul li span{
  display: inline-block;
}
.gnb .gnb_a .gnb_gnb {
  display: inline-block;
  float: right;
}
.gnb .gnb_a .gnb_gnb ul li{
  display: inline-block;
  vertical-align: middle;
}
.gnb .gnb_a .gnb_gnb ul li div{
  display: inline-block;
}
.header{
  width: 1000px;
  margin: 0 auto;
}
.header .header_log{
  width: 200px;height:80px;
  display: inline-block;
  float: left;
}
.header .header_search{
  position: relative;
  left: 50%; margin-left: -300px;
  width: 230px;
  display: inline-block;
}
.header .header_search > img{
  width:200px;height: 80px;
  margin: 0 10px;
}
.header .header_search a{
  border: 0;
}
.header .header_search a img{
  vertical-align: middle;
}
.header .ad_banner{
  float:right;
  width:200px;height: 80px;
  display: inline-block;
}
.header .ad_banner img{
  width: 200px; height:80px;
}
.header .header_menu{
  clear: left;
}
.header .header_menu ul li{
  display: inline-block;
  margin: 0 10px;
}
.header .header_menu ul li a{
  color: gray;
  font-size: 0.8rem;
}
/*nav*/
.nav{
  width: 1000px;
  margin: 0 auto;
}
.nav .nav_blue{
  background-color: #3b589a;
}
.nav .nav_blue .nav_blue_menu{
  display: inline-block;
}
.nav .nav_blue .nav_blue_menu li{
  display: inline-block;
  margin: 10px 10px;
}
.nav .nav_blue .nav_blue_menu li a{
  color:white;
  font-size: 0.8rem;
}
.nav .nav_blue .nav_blue_notice{
  float: right;
  height: 40px;
  line-height: 40px;
}
.nav .nav_blue .nav_blue_notice a{
  color: #fff;
}
.nav .nav_blue .nav_blue_notice img{
  width: 10px;height:10px;
  display: inline-block;
}
.nav .nav_blue .nav_blue_notice div{
  display: inline-block;
}
.nav .nav_blue .nav_blue_notice_slide li{
  display: none;
}
.nav .nav_blue .nav_blue_notice_slide li:first-child{
  display: inline-block;
}


.nav .nav_under{
  background-color: #fafafa;
  border-bottom: 1px solid gray;
}
.nav .nav_under .nav_under_menu{
  display: inline-block;
}
.nav .nav_under .nav_under_menu li{
  display: inline-block;
  margin: 5px 5px;
}
.nav .nav_under .nav_under_menu li a{
  color: 777;
  font-size: 0.7rem;
}
.nav .nav_under .nav_under_visited{
  display: inline-block;
  float: right;
}
.nav .nav_under .nav_under_visited > div{
  display: inline-block;
  vertical-align: middle;
  line-height:30px;
}
.nav .nav_under .nav_under_visited span{
  font-size: 0.7rem;
}
.nav .nav_under .nav_under_visited strong{
  color: #1062e0;
  font-size:0.8rem;
}

/*article-section*/
.article{
  width: 1000px;
  margin: 5px auto;
}
.article .section{
  width: 780px;height: 1625px;
  display: inline-block;
  position: relative;
}
.section .section_main{
  width: 780px;height:430px;
  overflow: hidden;
  /*check*/
}
.section_main .section_party{
  width: 780px;height:130px;
}
.section_main .section_party img{
  display: inline-block;
  width: 287px;height: 130px;
}
.section_main .section_party img:first-child{
  width: 487px;
}
.section_main .section_list{
  width: 780px;height:300px;
  /*height 주기*/
}
.section_main .section_list .section_list_slide{
  width: 487px;height:300px;
  margin-top: 7px;
  display: inline-block;
}
.section_main .section_list .section_list_slide .section_list_slide_img{
  width: 487px;
}
.section_main .section_list .section_list_slide .section_list_slide_img li{
  width:0; height:0;
}
.section_main .section_list .section_list_slide .section_list_slide_img li:first-child{
  width:487px; height:300px;
}
.section_main .section_list .section_list_slide .section_list_slide_img li img{
  text-indent: -9999px;
}
.section_main .section_list .section_list_slide .section_list_slide_text{
  width: 487px; height: 40px;
  position: relative;top:-45px;
  background-color:gray;
}
.section_main .section_list .section_list_slide .section_list_slide_text strong{
  color:#fff;
}
.section_main .section_list .section_list_slide .section_list_slide_text div{
  float: right;
  width:30px;height:45px;
  margin-top: -43px;
}
.section_main .section_list .section_list_slide .section_list_slide_text p{
  width: 400px; font-size: 0.8rem; color:#fff;
}

.section_main .section_list .section_list_slide .section_list_slide_text span,input{
  display:inline-block;
}
.section_main .section_list .section_list_slide .section_list_slide_text .slst_btn span{
  font-size: 0.7rem;
}
.section_main .section_list .section_list_special{
  width: 287px;height: 300px;
  display: inline-block;
  margin-top: 7px;
  float: right;
}
.section_main .section_list .section_list_special li{
  width: 287px;height: 100px;
  float: right;
}
.section_main .section_list .section_list_special li img{
  display:inline-block;
  width: 120px; height: 100px;
}
.section_main .section_list .section_list_special li div{
  display:inline-block;
  width: 160px;height: 100px;
  overflow: hidden;
}
.section_main .section_list .section_list_special li div strong{
  font-size: 0.8rem;
}
.section_main .section_list .section_list_special li div p{
  font-size: 0.8rem;
}
/*section super grid*/
.section_supergrid{
  width: 780px;height: 1200px;
}
.section_supergrid div{
  width: 780px; height:240px;
}
.section_supergrid div strong{
  display: block;
  width: 780px;
  line-height:20px;
  font-size: 0.8rem;
}
.section_supergrid div[class$="moreview"] {
  width:10px;height:10px;
  float:right;
  margin-top: -15px;
  overflow: hidden;
}
.section_supergrid div div li{
  display: inline-block;
  margin:0 10px 0 0;
}
.section_supergrid div div li img{
  width: 140px; height:130px;
}
.section_supergrid div div li a {
  display: block; width: 140px;
  text-align: center;
}
.article .aside{
  width: 210px;height: 1625px;
  display: inline-block;
  float:right;
  background-color:#ccc;
  /*백그라운드 삭제*/
}
.article .login{
  width: 210px; height: 120px;
}
.article .login form{
  width: 190px; height: 80px;
  margin: 10px auto;
}
.article .login form div{
  width: 130px; height:30px;
}
.article .login form div input{
  width: 130px;height:25px;
}
.article .login form div .btn-primary{
  width: 50px; height:60px;
  position: relative;
  left: 140px;bottom: 60px;
}
.article .login .login_plus{
  width: 190px; height:20px;
  font-size:0.7rem;
  margin: 0 auto;
}
.article .login .login_plus a strong{
}
/*로긴 height 130px
핫이슈 300px*/
.article .aside_hotisue{
  width: 210px; height:300px;
}
.article .aside_hotisue .aside_hotisue_controller{
  width: 200px;height:40px;
  position: relative;left: 10px;
}
.article .aside_hotisue .aside_hotisue_controller strong{
  line-height: 30px;
}
.article .aside_hotisue .aside_hotisue_controller input{
  float: right;
  position: relative;
  top:10px; right: 13px;
  width: 18px;
}
.article .aside_hotisue .aside_hotisue_controller span{
  float: right;
  position: relative; top:5px;
}
.article .aside_hotisue .aside_hotisue_controller .aside_hotisue_controller_prev{
  right: 45px;
}
.article .aside_hotisue .aside_hotisue_list{
  width: 190px;height: 258px;
  position: relative;left: 10px;

}
.article .aside_hotisue .aside_hotisue_list li{
  height: 86px;
}
.article .aside_hotisue .aside_hotisue_list li img{
  width: 76px;height: 60px;
  float: right;
  position: relative; top:13px;
}
.article .aside_hotisue .aside_hotisue_list li div{
  float: left;
  width: 110px;
  position: relative; top:20px;
  line-height: 18px;
}
/*240px*/
.article .aside_grid{
  width: 210px; height: 1200px;
  outline: 1px solid tomato;
}
.article .aside_grid li{
  width: 210px; height:240px;
  outline: 1px solid tomato;
}
